$margin: 1em;

#coordinateOptionsHeader {
  margin-top: $margin;
  padding: 0em 0em;
}

#loadingButton {
  border-radius: 25px;
  // marginLeft: "2em",
  margin-right: 2em;
  margin-bottom: $margin;
}
